<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'create_todo' %}" method="POST">
                {% csrf_token %}
                                 <div class="form-group">
                   <label for="title">Title</label>
                   <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
                 </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" rows="3" placeholder="Enter description"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th >SNo.</th>
            <th >Title</th>
            <th >Description</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
          <tr>
            <td>{{forloop.counter }}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>
                {% if todo.completed %}
                <span class = "badge badge-success">completed</span>
                {% else %}
                                 <a class="btn btn-sm btn-dark" href="{% url 'complete_todo' todo.id %}">complete</a>
                {% endif %}
                <a class="btn btn-sm btn-danger" href="{% url 'delete_todo' todo.id %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

</body>
</html>